html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hello {
  height: 100%;
  width: 100%;
  background-image: url(../images/vie.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.ombre {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.932);
}

.ombre:hover{
  background: radial-gradient(
    100px circle at var(--mouse-x) var(--mouse-y),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.932)
  );
}
